@use '../../assets/scss/mixins';

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: var(--modal-z-index, 100);
  display: block;
  border: none;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  overflow: clip;
  &--window {
    display: grid;
    place-content: center;
    background-color: mixins.mix-alpha(var(--color-bg), 65%);
    @include mixins.background-blur(16px);
    > .modal-body {
      width: var(--modal-width, unset);
      min-width: var(--modal-min-width, unset);
      max-width: var(--modal-max-width, unset);
      padding: var(--modal-padding, unset);
      background-color: var(--modal-color-bg, var(--color-bg));
      border-radius: 16px;
      box-shadow:
        0 100px 100px 0 hsla(0 0% 0% / 10%),
        0 30.1px 30.1px 0 hsla(0 0% 0% / 7%),
        0 12.5px 12.5px 0 hsla(0 0% 0% / 5%),
        0 4.5px 4.5px 0 hsla(0 0% 0% / 4%),
        0 0 0 .5px hsla(0 0% 0% / 10%);
      transition: var(--body-transition, none);
      transition-delay: var(--body-transition-delay, unset);
      transform: var(--body-transform, unset);
      opacity: var(--body-alpha, unset);
    }
  }
  &--full {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    background-color: var(--modal-color-bg, var(--color-bg));
    > .modal-body {
      height: 100%;
      box-sizing: border-box;
    }
  }
}

.modal-body {
  position: relative;
  box-sizing: border-box;
  &.scroll {
    overflow: auto;
  }
}

// animation
.animation--fade:is(.modal--window) {
  --body-transition: opacity 260ms ease-out;
  --body-transition-delay: 240ms;
  &.modal {
    &-enter-active {
      transition: opacity 160ms ease-out;
    }
    &-enter-from {
      opacity: 0;
      --body-alpha: 0;
    }
    &-leave-active {
      transition: opacity 240ms ease-out;
      transition-delay: 160ms;
      --body-transition: opacity 220ms ease-out;
      --body-transition-delay: 0;
    }
    &-leave-to {
      opacity: 0;
      --body-alpha: 0;
    }
  }
}
.animation--bottom-up:is(.modal--window) {
  --body-transition: transform 260ms ease-out, opacity 260ms ease-out;
  --body-transition-delay: 160ms;
  &.modal {
    &-enter-active {
      transition: opacity 120ms ease-out;
    }
    &-enter-from {
      opacity: 0;
      --body-transform: translateY(30px);
      --body-alpha: 0;
    }
    &-leave-active {
      transition: transform 240ms ease-out, opacity 240ms ease-out;
      transition-delay: 200ms;
      --body-transition: transform 160ms ease-out, opacity 160ms ease-out;
      --body-transition-delay: 0;
    }
    &-leave-to {
      opacity: 0;
      --body-transform: translateY(30px);
      --body-alpha: 0;
    }
  }
}
.animation--fade:is(.modal--full),
.animation--bottom-up:is(.modal--full) {
  &.modal {
    &-enter-active,
    &-leave-active {
      transition: opacity 200ms ease-out;
    }
    &-enter-from,
    &-leave-to {
      opacity: 0;
    }
  }
}
