@use '../../../assets/scss/mixins';

.attachment-files {
  --size-attach-files-header: 48px;
  --size-attach-files-toolbar: 48px;
  --size-attach-files-footer: 64px;
  position: relative;
  display: grid;
  grid-template-rows: var(--size-attach-files-header) var(--size-attach-files-toolbar) 1fr var(--size-attach-files-footer);
  height: 100dvh;
  box-sizing: border-box;
}

.files-header {
  display: flex;
  background: var(--color-weak);
  user-select: none;
  h1 {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0 8px;
    margin: 0;
    padding: 0 0 0 20px;
    align-self: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.05;
    color: var(--color-light);
    --icon-size: 20px;
    --icon-color: var(--color-light);
    --icon-stroke: 1.5;
  }
  nav {
    button {
      display: block;
      margin: 0;
      padding: 0;
      width: var(--size-attach-files-header);
      height: var(--size-attach-files-header);
      background: none;
      border: none;
      border-radius: 0;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      --icon-margin: 0 auto;
      --icon-size: 24px;
      --icon-stroke: 2;
      --icon-color: var(--color-light);
      @include mixins.focus-content();
      &:active {
        opacity: .5;
      }
    }
  }
}

.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: mixins.mix-alpha(var(--color-blur), 0%);
  box-shadow: inset 0 -.5px 0 var(--color-blur);
  > div {
    display: flex;
    align-items: center;
  }
}
.upload-info {
  display: flex;
  align-items: center;
  gap: 0 4px;
  font-size: 13px;
  color: var(--color-weak);
  line-height: 1.05;
  user-select: none;
  span {
    display: block;
    &:after {
      content: ':';
    }
  }
  em {
    display: block;
    font-style: normal;
    font-weight: 700;
    color: var(--color-base);
  }
}

.content {
  position: relative;
  box-sizing: border-box;
  overflow-x: clip;
  overflow-y: scroll;
  padding: 0 24px;
  @include mixins.custom-scrollbar();
}

.file-items-container {
  margin: 0 auto;
  padding: 24px 0;
  container-type: inline-size;
  box-sizing: border-box;
  @container (min-width: 640px) {
    .file-items {
      --files-index-columns: 4;
      --files-index-gap: 16px;
    }
  }
  @container (min-width: 900px) {
    .file-items {
      --files-index-columns: 5;
      --files-index-gap: 24px;
    }
  }
  @container (min-width: 1280px) {
    .file-items {
      --files-index-columns: 6;
    }
  }
  @container (min-width: 1440px) {
    .file-items {
      --files-index-columns: 8;
    }
  }
  @container (min-width: 1920px) {
    .file-items {
      --files-index-columns: 10;
    }
  }
}

.file-items {
  display: grid;
  grid-template-columns: repeat(var(--files-index-columns, 3), 1fr);
  gap: var(--files-index-gap, 12px);
  margin: 0 auto;
  padding: 0;
  list-style: none;
  > li {
    min-width: 0;
  }
}

.files-footer {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background: var(--color-bg);
  box-shadow: inset 0 1px 0 var(--color-blur);
  box-sizing: border-box;
  user-select: none;
  &__left {}
  &__right {
    display: flex;
    align-items: center;
    gap: 0 12px;
  }
}

.loading {
  height: 100%;
}

.empty {
  --empty-height: 100%;
}

.drop-overlay {
  position: absolute;
  top: calc(var(--size-attach-files-header) + var(--size-attach-files-toolbar));
  bottom: var(--size-attach-files-footer)
}

.overlay-fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 160ms ease-out;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}
