@use '../../../assets/scss/mixins';

.image-item {
  --card-radius: 6px;
  position: relative;
  background-color: var(--color-bg);
  box-shadow: 0 0 0 .5px hsla(0 0% 0% / 16%), 0 2px 8px hsla(0 0% 0% / 12%);
  border-radius: var(--card-radius);
}

.image {
  margin: 0;
  box-sizing: border-box;
  --empty-icon-size: 26px;
  --empty-icon-stroke: 1.5;
  a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    user-select: none;
    overflow: clip;
    outline: 2px solid var(--outline-color, #{mixins.mix-alpha(var(--color-key-1), 0%)});
    outline-offset: -2px;
    transition: outline 120ms ease-out;
  }
  &:hover a {
    --outline-color: var(--color-key-3);
  }
  &:has(a:focus-visible) {
    --outline-color: var(--color-key-1);
  }
}

.body {}

// theme=list
.image-item--list {
  display: flex;
  align-items: center;
  .image {
    width: var(--image-item-size, 94px);
    aspect-ratio: 1 / 1;
    a {
      border-radius: var(--card-radius) 0 0 var(--card-radius);
    }
  }
  .body {
    min-width: 0;
    padding: 0 16px;
    flex: 1;
  }
}
// theme=thumbnail
.image-item--thumbnail {
  .image {
    --empty-icon-size: 32px;
    aspect-ratio: 6 / 4;
    a {
      border-radius: var(--card-radius) var(--card-radius) 0 0;
    }
  }
  .body {
    padding: 12px 16px 16px 16px;
  }
}
