@use '../../../assets/scss/mixins';

.image-item {
  position: relative;
  background-color: var(--color-bg);
}

.image {
  margin: 0;
  box-sizing: border-box;
  --empty-icon-size: 26px;
  --empty-icon-stroke: 1.5;
  a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    user-select: none;
    overflow: clip;
    outline: 2px solid var(--outline-color, #{mixins.mix-alpha(var(--color-key-1), 0%)});
    outline-offset: -2px;
    transition: outline 120ms ease-out;
  }
  &:hover a {
    --outline-color: var(--color-key-3);
  }
  &:has(a:focus-visible) {
    --outline-color: var(--color-key-1);
  }
}

.body {}

// theme=list
.image-item--list {
  display: flex;
  align-items: center;
  .image {
    width: var(--image-item-size, 78px);
    aspect-ratio: 1 / 1;
  }
  .body {
    padding-left: 12px;
    flex: 1;
  }
}

// theme=thumbnail
.image-item--thumbnail {
  .image {
    aspect-ratio: 6/4;
    --empty-icon-size: 32px;
  }
  .body {
    margin: 8px 0 0;
  }
}
