@use 'mixins';
@import 'normalize';
@import 'fonts';
@import 'keyframes';

:root {
  // fonts
  --font-base: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-eng: Helvetica, Arial, sans-serif;
  --font-code: 'Monaco', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  // colors
  --color-bg: hsl(0 0% 100%);
  --color-base: hsl(0 0% 13%);
  --color-weak: hsl(0 0% 47%);
  --color-key-1: hsl(176 51% 61%);
  --color-key-2: hsl(186 68% 46%);
  --color-key-3: hsl(243 68% 57%);
  --color-success: hsl(93 54% 45%);
  --color-danger: hsl(0 67% 47%);
  --color-light: hsl(0 0% 100%);
  --color-dark: hsl(0 0% 13%);
  --color-forms-outline: hsl(0 0% 77%);
  // size
  --size-content-width: 900px;
  --size-side-padding: 60px;
  --size-header-height: 64px;
  --size-form-radius: 6px;
  --size-form-height-small: 28px;
  --size-form-height-normal: 36px;
  --size-form-height-big: 44px;
}

html {
  touch-action: manipulation;
}
body {
  margin: 0;
  min-width: 1020px;
  background: var(--color-bg);
  -webkit-touch-callout: none;
}
body, button, input, textarea, select {
  font-family: var(--font-base);
  font-size: 16px;
  line-height: 1.62;
  -webkit-text-size-adjust: none;
  color: var(--color-base);
}
a {
  color: var(--color-key-3);
}
code, kbd, pre, samp {
  font-family: var(--font-code);
}
::selection {
  background: color-mix(in hsl, var(--color-key-2), transparent 25%);
  color: var(--color-light);
}
