@use 'mixins';
@import 'normalize';
@import 'fonts';
@import 'keyframes';
@import 'content-body';

:root {
  // fonts
  --font-base: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-eng: Helvetica, Arial, sans-serif;
  --font-code: 'Monaco', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  // colors
  --color-bg: hsl(0 0% 100%);
  --color-base: hsl(0 0% 13%);
  --color-weak: hsl(0 0% 54%);
  --color-blur: hsl(0 0% 90%);
  --color-key-1: hsl(176 51% 61%);
  --color-key-2: hsl(31, 83%, 59%);
  --color-key-3: hsl(243 68% 57%);
  --color-success: hsl(93 54% 45%);
  --color-danger: hsl(0 67% 47%);
  --color-light: hsl(0 0% 100%);
  --color-dark: hsl(0 0% 13%);
  --color-forms-outline: hsl(0 0% 76%);
  // size
  --size-content-width: 900px;
  --size-side-padding: 30px;
  --size-header-height: 64px;
  --size-content-margin-top: 36px;
  --size-form-radius: 6px;
  --size-form-height-small: 28px;
  --size-form-height-normal: 36px;
  --size-form-height-big: 44px;
  --size-modal-window-padding: 42px;
  @include mixins.responsive(desktop) {
    --size-side-padding: 60px;
  }
}

html {
  touch-action: manipulation;
}
body {
  margin: 0;
  min-width: 768px;
  background: var(--color-bg);
  -webkit-touch-callout: none; // for ios
}
body, button, input, textarea, select {
  font-family: var(--font-base);
  font-size: 16px;
  line-height: 1.62;
  -webkit-text-size-adjust: none;
  color: var(--color-base);
}
a {
  color: var(--color-key-1);
}
code, kbd, pre, samp {
  font-family: var(--font-code);
}
::selection {
  background: color-mix(in hsl, var(--color-key-3), transparent 25%);
  color: var(--color-light);
}
legend {
  &.hidden {
    position: absolute;
    font-size: 0;
    visibility: hidden;
  }
}

// for root
html.mode-not-scroll {
  overflow: hidden;
  > body {
    overflow: hidden;
    position: fixed;
  }
}

// etc
.pre-code {
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 10px;
}
