@use '../../assets/scss/mixins';

.error {
  user-select: none;
  display: grid;
  justify-content: center;
  place-content: center;
  box-sizing: border-box;
  padding: 0;
  height: 100dvh;
}

.error-content {
  gap: 0 52px;
  margin: 0 auto;
  padding: 0 0 36px;
  text-align: center;
  figure {
    margin: 0;
    img {
      width: 280px;
      height: auto;
    }
  }
  h1 {
    margin: 24px 0 0;
    font-size: 54px;
    line-height: 1.05;
    font-weight: 100;
    letter-spacing: -3px;
    color: var(--color-key-3);
  }
  code {
    display: block;
    margin: 4px 0 0;
    font-family: var(--font-eng);
    font-size: 32px;
    line-height: 1.05;
    font-weight: 700;
    color: var(--color-danger);
  }
  p {
    margin: 16px 0 0;
    font-size: 13px;
    line-height: 1.25;
    font-weight: 400;
  }
  nav {
    margin: 54px 0 0;
    display: flex;
    justify-content: center;
  }
}

