@use '../../assets/scss/mixins';

.input-text {
  position: relative;
  display: block;
  width: var(--input-text-wdith, 100%);
  height: var(--input-text-height, 36px);
  box-sizing: border-box;
  border: none;
  border-radius: var(--size-form-radius);
  padding: var(--input-padding, (0 12px));
  background: var(--input-text-bg, var(--color-bg));
  color: var(--input-text-color, var(--color-base));
  font-size: var(--input-text-size, 14px);
  transition:
    box-shadow var(--input-text-transition-speed, (160ms)) ease-out,
    outline var(--input-text-transition-speed, (160ms)) ease-out;
  box-shadow: var(--input-text-outline, (inset 0 0 0 1px #{mixins.mix-alpha(var(--color-forms-outline), 100%)}));
  outline: 2px solid transparent;
  outline-offset: -2px;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  line-height: var(--input-text-line-height, 2.5em); // for safari
  &::-webkit-date-and-time-value {
    text-align: left;
    width: 100%;
    height: 100%;
    line-height: var(--input-text-height);
    box-sizing: border-box;
  }
  &::-webkit-input-placeholder {
    color: var(--input-text-placeholder, mixins.mix-alpha(var(--color-base), 45%));
  }
  &:read-only {
    background: var(--input-text-readonly, mixins.mix-alpha(var(--color-base), 4%));
  }
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
    background: var(--input-text-bg, var(--color-bg));
    user-select: none;
  }
  &:focus:not([disabled]) {
    outline-color: var(--color-key-1);
  }
  &::-webkit-calendar-picker-indicator {
    margin: 0;
    font-size: 13px;
    color: var(--color-base);
    line-height: 1;
  }
}

// size
.input-text {
  &--small {
    --input-text-height: 28px;
    --input-text-size: 12px;
    --input-padding: 0 10px;
    --input-text-line-height: 2em;
  }
}

// color
.input-text {
  &--error {
    --input-text-outline: inset 0 0 0 1px var(--color-danger);
    --input-text-color: var(--color-danger);
  }
}

// extra
.input-text[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 6px;
  margin: 0;
}
