@use '../../assets/scss/func';

.select {
  display: block;
  position: relative;
  user-select: none;
  box-sizing: border-box;
  font-size: 0;
  width: var(--select-width, 100%);
  select {
    display: block;
    width: 100%;
    height: var(--select-height, var(--size-form-height-normal));
    margin: 0;
    padding: var(--select-padding, 0 36px 0 16px);
    border-radius: var(--size-form-radius);
    box-sizing: border-box;
    outline: none;
    border: none;
    -webkit-appearance: none;
    transition: box-shadow var(--select-transition-speed, (160ms)) ease-out;
    box-shadow: var(--select-outline, (inset 0 0 0 1px #{func.alpha-mix(var(--color-forms-outline), 100%)}));
    background: var(--select-bg, var(--color-bg));
    font-size: var(--select-text-size, 14px);
    color: var(--select-text-color, var(--color-base));

    &:disabled {
      cursor: not-allowed;
      opacity: .5;
      background: var(--select-bg, var(--color-bg));
      user-select: none;
    }
    &:focus:not([disabled]) {}
  }
  i {
    display: block;
    position: absolute;
    right: 12px;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%) rotate(90deg);
    --icon-size: 14px;
    --icon-stroke: 3;
    --icon-color: var(--color-weak);
  }
}

// size
.select {
  &--small {
    --select-height: 28px;
    --select-text-size: 12px;
    --select-padding: 0 12px;
    i {
      --icon-size: 12px;
      --icon-stroke: 3.2;
    }
  }
}

// placeholder
.select--placeholder {
  select {
    --select-text-color: #{func.alpha-mix(var(--color-base), 50%)};
  }
  i {
    --icon-color: #{func.alpha-mix(var(--color-base), 35%)};
  }
}

// color
.select {
  &--error {
    select {
      --select-outline: inset 0 0 0 1px var(--color-danger);
      --select-text-color: var(--color-danger);
    }
    i {
      --icon-color: var(--color-danger);
    }
  }
}
