@use '../../assets/scss/mixins';

.select {
  display: block;
  position: relative;
  user-select: none;
  box-sizing: border-box;
  font-size: 0;
  width: var(--select-width, 100%);
  --icon-size: 14px;
  --icon-stroke: 3;
  --icon-color: var(--color-weak);
  select {
    display: block;
    width: 100%;
    height: var(--select-height, var(--size-form-height-normal));
    margin: 0;
    padding: var(--select-padding, 0 42px 0 16px);
    border-radius: var(--size-form-radius);
    box-sizing: border-box;
    border: none;
    transition:
      box-shadow var(--select-transition-speed, (160ms)) ease-out,
      outline var(--select-transition-speed, (160ms)) ease-out;
    box-shadow: var(--select-outline, (inset 0 0 0 1px #{mixins.mix-alpha(var(--color-forms-outline), 100%)}));
    background: var(--select-bg, var(--color-bg));
    font-size: var(--select-text-size, 14px);
    color: var(--select-text-color, var(--color-base));
    outline: 2px solid transparent;
    outline-offset: -2px;
    -webkit-appearance: none;
    &:disabled {
      cursor: not-allowed;
      opacity: .5;
      background: var(--select-bg, var(--color-bg));
      user-select: none;
    }
    &:focus:not([disabled]) {
      outline-color: var(--color-key-1);
    }
  }
  i {
    display: block;
    position: absolute;
    right: 12px;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%) rotate(90deg);
  }
}

// size
.select {
  &--small {
    --select-height: 28px;
    --select-text-size: 12px;
    --select-padding: 0 32px 0 12px;
    --icon-size: 12px;
    --icon-stroke: 3.2;
  }
}

// placeholder
.select--placeholder {
  --select-text-color: #{mixins.mix-alpha(var(--color-base), 50%)};
  --icon-color: #{mixins.mix-alpha(var(--color-base), 35%)};
}

// color
.select {
  &--error {
    --select-outline: inset 0 0 0 1px var(--color-danger);
    --select-text-color: var(--color-danger);
    --icon-color: var(--color-danger);
  }
}
