.side-panel {
  position: sticky;
  top: calc(var(--size-header-height) + 16px);
  box-sizing: border-box;
}

form {
  display: grid;
  gap: 24px 0;
  margin: 0;
  padding: 0;
}

.field {
  &:is(fieldset) {
    margin: 0;
    padding: 0;
    border: none;
  }
  > :is(h3, .label) {
    display: block;
    margin: 0 0 6px;
    padding: 0;
    font-size: 12px;
    color: var(--color-weak);
    font-weight: 500;
    line-height: 1.15;
    user-select: none;
  }
}

.total {
  strong {
    display: block;
    margin: 0;
    line-height: 1.05;
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 900;
  }
}

.date-range {
  margin: 0;
  display: grid;
  grid-template-columns: 36px 1fr;
  align-items: center;
  gap: 6px 0;
  dt {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -.5px;
    user-select: none;
  }
  dd {
    margin: 0;
  }
}

.search-keyword {
  &__submit {
    --button-padding: 0 12px;
  }
}

.bottom-nav {
  margin: 12px 0 0;
  display: grid;
  gap: 10px 0;
}

.line {
  display: block;
  margin: 0;
  width: 100%;
  height: .5px;
  border: none;
  background-color: var(--color-blur);
  box-sizing: border-box;
}

.order-sort {
  display: flex;
  gap: 0 8px;
  > :nth-child(1) {
    flex: 1.25;
  }
  > :nth-child(2) {
    flex: 1;
  }
}

.tags {
  ul {
    margin: 0 0 8px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
  nav {
    display: flex;
    justify-content: flex-start;
    .button {
      width: auto;
    }
  }
}
