.index-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 16px;
}

.column {
  display: flex;
  align-items: center;
  gap: 0 8px;
  user-select: none;
  label {
    display: block;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.15;
  }
}
