.share {
  padding: 30px;
  box-sizing: border-box;
  width: 75vw;
  max-width: 560px;
  height: 312px;
}

.address {
  margin: 30px 0 0;
  padding: 0;
  border: none;
  > legend {
    font-size: 0;
  }
  > p {
    margin: 8px 0 0;
    line-height: 1.25;
    color: var(--color-weak);
    font-size: 12px;
  }
}

.permission {
  width: 110px;
  margin-left: -1px;
  --icon-color: var(--color-light);
  &:deep(> select) {
    padding-left: 16px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: var(--color-weak);
    color: var(--color-light);
  }
}

.bottom {
  margin: 48px 0 0;
}
