.select-tags {
  padding: var(--size-modal-window-padding);
  box-sizing: border-box;
  width: 75vw;
  max-width: 640px;
  &__body {
    margin: 30px 0 0;
  }
}

.tags-index {
  margin: 30px 0 0;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 4px 6px;
  }
}

.search-keyword {
  margin: 12px 0 0;
  width: 200px;
}

.selected-tags {
  margin: 32px 0 0;
  border-radius: 8px;
  h1 {
    margin: 0;
    font-size: 13px;
    line-height: 1.15;
    user-select: none;
  }
  ul {
    margin: 8px 0 0;
    padding: 10px;
    list-style: none;
    border: 1px solid var(--color-blur);
    display: flex;
    flex-wrap: wrap;
    gap: 4px 6px;
    border-radius: 8px;
  }
}

.nav-bottom {
  margin: 30px 0 0;
}

.empty {
  margin: 0;
  font-size: 12px;
  color: var(--color-weak);
  user-select: none;
}
