.button-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  box-sizing: border-box;
  height: 100%;
  &__side {
    animation: var(--icon-animation, none);
    &:is(:first-child) {
      margin-left: -2px;
    }
    &:is(:last-child) {
      margin-right: -2px;
    }
  }
  &__icon {
    animation: var(--icon-animation, none);
  }
  &__label {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: var(--body-font-size, 16px);
    line-height: normal;
    letter-spacing: -.25px;
    color: var(--body-color, var(--color-base));
  }
}
