.collections {
  margin: 0 auto;
  max-width: var(--size-content-width);
  &__body {
    margin: 30px 0 0;
  }
  &__empty {
    --empty-height: 480px;
  }
}

.index {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 20px 0;
}

.bottom {
  margin: 64px 0 0;
}
