@use '../../../assets/scss/mixins';

.collection-item {
  position: relative;
  display: grid;
  grid-template-columns: 240px 1fr auto;
  align-items: center;
  border-radius: 8px;
  box-shadow:
    0 0 0 0.5px hsla(0 0% 0% / 15%),
    0 4px 48px 0 hsla(0 0% 0% / 15%),
    0 4px 12px 0 hsla(0 0% 0% / 15%);
  background-color: var(--color-light);
  box-sizing: border-box;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    pointer-events: none;
    box-shadow: 0 0 0 2px mixins.mix-alpha(var(--color-key-3), 0%);
    transition: box-shadow 160ms ease-out;
  }
  &:hover {
    &:after {
      box-shadow: 0 0 0 2px mixins.mix-alpha(var(--color-key-3), 100%);
    }
  }
  &:hover {
    .collection-item__side {
      &:is(:has(.button)) {
        .dropdown {
          opacity: 1;
        }
      }
    }
  }
  &__cover {
    margin: 0;
    user-select: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: clip;
    a {
      display: block;
    }
    img {
      display: block;
      max-width: 100%;
      aspect-ratio: 6/4;
      object-fit: cover;
    }
    i {
      display: grid;
      place-content: center;
      aspect-ratio: 6/4;
      background: var(--color-blur);
      --icon-size: 42px;
      --icon-stroke: 1;
      --icon-color: var(--color-light);
    }
  }
  &__body {
    margin: 0 0 0 16px;
    padding: 16px 0;
    .title {
      margin: 0;
      font-size: 18px;
      line-height: 1.15;
      a {
        text-decoration: none;
        color: var(--color-base);
      }
    }
    .description {
      margin: 4px 0 0;
      font-size: 12px;
      line-height: 1.25;
      color: var(--color-weak);
    }
    .meta {
      display: flex;
      flex-wrap: wrap;
      gap: 4px 6px;
      margin: 10px 0 0;
      span {
        display: block;
        font-size: 11px;
        line-height: 1.15;
        font-weight: 500;
        &:not(:last-child):after {
          content: ',';
        }
      }
    }
  }
  &__side {
    margin: 0 32px;
    &:not(:has(.button.button--key-1)) {
      .dropdown {
        opacity: 0;
      }
    }
  }
  .dropdown {
    transition: opacity 120ms ease-out;
  }
}
