@use '../../assets/scss/func';

.page {
  //
}

.page-header {
  display: grid;
  user-select: none;
  h1 {
    margin: 0;
    padding: 0;
    small {
      display: block;
      font-size: 13px;
      line-height: 1.05;
      font-weight: 500;
      font-family: var(--font-eng);
    }
    strong {
      display: block;
      margin: 0;
      font-size: 36px;
      line-height: 1;
      letter-spacing: -.5px;
    }
  }
  p {
    margin: 4px 0 0;
    font-size: 12px;
    line-height: 1.15;
  }
}

.page-content {
  margin: 42px 0 0;
  display: grid;
  gap: 48px 0;
}

.page-section {
  > header {
    margin: 0 0 16px;
    user-select: none;
    h1 {
      margin: 0;
      font-size: 22px;
      line-height: 1.05;
      font-weight: 700;
      letter-spacing: -.5px;
    }
    p {
      margin: 2px 0 0;
      font-size: 12px;
      color: var(--color-weak);
    }
  }
  > p {
    margin: 16px 0;
    font-size: 13px;
    line-height: 1.42;
    & + p {
      margin-top: -4px;
    }
  }
  > p + .page-example {
    margin-top: -8px;
  }
}

.page-example {
  margin: 16px 0;
  padding: 24px;
  background: var(--color-bg);
  border-radius: 8px;
  border: 1px dashed color-mix(in hsl, var(--color-weak), transparent 65%);
  > *:is(:first-child) {
    margin-top: 0;
  }
  > *:is(:last-child) {
    margin-bottom: 0;
  }
  &-result {
    margin: 16px 0;
    padding: 12px 16px;
    font-family: var(--font-code);
    line-height: 1.42;
    font-size: 12px;
    background: func.alpha-mix(var(--color-weak), 8%);
    border-radius: 2px;
    color: var(--color-weak);
  }
}

.page-flex {
  display: flex;
  gap: var(--gap, 16px);
  align-items: var(--v-align, unset);
  justify-content: var(--h-content, unset);
}
.page-grid {
  display: grid;
  gap: var(--gap, 16px);
  grid-template-columns: repeat(var(--column), 1fr);
  align-items: var(--v-align, unset);
  justify-content: var(--h-content, unset);
  justify-items: var(--h-items, unset);
  place-content: var(--p-content, unset);
}

.page-details {
  > summary {
    font-size: 14px;
    line-height: 1.25;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    &:active {
      opacity: .5;
    }
  }
  > *:not(summary) {
    margin-top: 12px;
  }
}
