@use '../../assets/scss/mixins';

.modal {
  border: none;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  overflow: clip;
  &--window {
    border-radius: 16px;
    box-shadow:
      0 100px 100px 0 hsla(0 0% 0% / 10%),
      0 30.1px 30.1px 0 hsla(0 0% 0% / 7%),
      0 12.5px 12.5px 0 hsla(0 0% 0% / 5%),
      0 4.5px 4.5px 0 hsla(0 0% 0% / 4%),
      0 0 0 .5px hsla(0 0% 0% / 10%);
    &::backdrop {
      background-color: mixins.mix-alpha(var(--color-bg), 65%);
      cursor: zoom-out;
      @include mixins.background-blur(16px);
    }
    > .modal-body {
      width: var(--modal-width, unset);
      min-width: var(--modal-min-width, unset);
      max-width: var(--modal-max-width, unset);
      padding: var(--modal-padding, unset);
      background-color: var(--modal-color-bg, var(--color-bg));
    }
  }
  &--full {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    &::backdrop {
      background-color: var(--modal-color-bg, var(--color-bg));
    }
    > .modal-body {
      min-height: 100%;
    }
  }
}

.modal-body {
  position: relative;
  box-sizing: border-box;
  &.scroll {
    overflow: auto;
  }
}
