@use '../assets/scss/mixins';

.layout {
  display: grid;
  grid-template-rows: var(--size-header-height) auto;
  //min-height: 100dvh;
  box-sizing: border-box;
  &.dragging {
    :is(*) {
      pointer-events: none;
    }
  }
}

.container {
  margin: 0 0 64px;
}

.overlay-fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 160ms ease-out;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}
