:global(html.share > body > .rg-toast) {
  --size-toast-top: 16px;
}

.layout {
  &:deep(> .error) {
    display: grid;
    place-content: center;
    height: 100dvh;
    box-sizing: border-box;
  }
}
