@use '../../../assets/scss/mixins';

.item {
  position: relative;
  &:hover {
    .item__nav {
      opacity: 1;
      pointer-events: auto;
    }
  }
  &__image {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    background: #eee;
    aspect-ratio: 1/1;
    cursor: pointer;
    border-radius: 2px;
    overflow: clip;
    border: none;
    background: none;
    @include mixins.focus-content();
    background: hsl(0 0% 94%);
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 2px;
      box-shadow: inset 0 0 0 .5px hsla(0 0% 0% / 10%);
      pointer-events: none;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__nav {
    position: absolute;
    right: 12px;
    top: 12px;
    opacity: 0;
    pointer-events: none;
    display: grid;
    justify-items: end;
    gap: 4px;
    .button {
      cursor: default;
    }
    .context-body {
      position: absolute;
      right: -20px;
      top: 100%;
      --context-width: 160px;
      opacity: 0;
      pointer-events: none;
      padding: 6px 0 0;
    }
    &:hover {
      .context-body {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  &.selected {
    .item__image:after {
      box-shadow: inset 0 0 0 3px var(--color-key-1);
    }
  }
}
