@use '../../assets/scss/mixins';

.loading {
  min-height: 100dvh;
}

.share-detail {
  padding: 0 0 100px;
}

.asset-image {
  margin: 0;
  padding: 0;
  user-select: none;
  background: var(--color-bg);
  @include mixins.checkerboard(20px, hsl(0 0% 94%));
  .trigger {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    background: none;
    width: 100%;
    outline: 2px solid #{mixins.mix-alpha(var(--color-key-1), 0%)};
    outline-offset: -2px;
    &:disabled {
      cursor: default;
    }
    &:focus-visible {
      outline-color: var(--color-key-1);
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      min-height: 480px;
      max-height: 72vh;
      object-fit: contain;
      box-sizing: border-box;
    }
    i {
      display: grid;
      place-content: center;
      height: 320px;
      background: var(--color-weak);
      text-align: center;
      --icon-margin: 0 auto;
      --icon-size: 72px;
      --icon-stroke: .5;
      --icon-color: var(--color-light);
    }
    em {
      display: block;
      margin: 8px 0 0;
      padding: 0 0 8px;
      color: var(--color-blur);
      font-style: normal;
      font-size: 10px;
      line-height: 1.15;
    }
  }
  .empty {
    display: grid;
    place-content: center;
    background: var(--color-weak);
    height: 320px;
    text-align: center;
    --icon-size: 72px;
    --icon-stroke: .5;
    --icon-color: var(--color-light);
  }
}

.asset-nav {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 24px 0 0;
  .button {
    --button-width: 48px;
    --button-height: 48px;
    --icon-size: 24px;
    --icon-stroke: 1.75;
  }
}

.asset-body {
  margin: 42px var(--size-side-padding) 0;
  &__wrap {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 0 30px;
    margin: 0 auto;
    max-width: var(--size-content-width);
  }
  &__side {
    .wrap {
      position: sticky;
      top: 48px;
      display: grid;
      gap: 24px;
      --shadow-box-padding: 36px 30px;
    }
    section {
      h1 {
        margin: 0;
        font-size: 11px;
        font-weight: 500;
        color: var(--color-weak);
        line-height: 1.15;
        letter-spacing: -.5px;
      }
      p {
        margin: 6px 0 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.15;
        word-break: break-all;
      }
    }
    .no-file {
      display: grid;
      place-content: center;
      margin: 0;
      height: 120px;
      font-size: 13px;
      color: var(--color-weak);
    }
  }
  &__content {
    padding: 4px 0 0;
    .title {
      margin: 0;
      font-size: 32px;
      font-weight: 800;
      line-height: 1.05;
      letter-spacing: -.5px;
      word-break: break-all;
      em {
        color: var(--color-weak);
        user-select: none;
      }
    }
  }
  @include mixins.responsive(desktop) {
    margin-top: 58px;
    &__wrap {
      grid-template-columns: 260px 1fr;
      gap: 0 60px;
    }
  }
  @include mixins.responsive(max) {
    &__wrap {
      max-width: 1200px;
    }
  }
}

.content-body {
  margin: 12px 0 0;
  &:deep(img) {
    cursor: pointer;
  }
}
.empty-content-body {
  display: block;
  margin: 12px 0 0;
  font-size: 14px;
  line-height: 1.42;
  color: var(--color-blur);
  user-select: none;
}
