@use '../../../assets/scss/mixins';

.item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0 14px;
  padding: 10px;
  background: mixins.mix-alpha(var(--color-blur), 25%);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  box-shadow: inset 0 0 0 2px mixins.mix-alpha(var(--color-key-1), 0%);
  transition: opacity 120ms ease-out;
  &:focus-visible {
    outline: 2px solid var(--color-key-1);
  }
  &:active {
    opacity: .5;
  }
  &--on {
    box-shadow: inset 0 0 0 2px mixins.mix-alpha(var(--color-key-1), 100%);
  }
  &__image {
    position: relative;
    margin: 0;
    border-radius: 2px;
    overflow: clip;
    img {
      display: block;
      width: 72px;
      height: 72px;
      object-fit: cover;
    }
    span {
      display: grid;
      place-content: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: mixins.mix-alpha(var(--color-key-1), 75%);
      border-radius: 2px;
      --icon-color: var(--color-light);
      --icon-stroke: 2.5;
      --icon-size: 24px;
    }
  }
  &__body {
    padding: 6px 0;
    h3 {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.05;
      letter-spacing: -.5px;
    }
    p {
      margin: 6px 0 0;
      font-size: 12px;
      line-height: 1.25;
      color: var(--color-weak);
    }
  }
}

