.user {
  margin: 0 auto;
  max-width: var(--size-content-width);
}

.form {
  margin: 30px 0 0;
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 0 48px;
}

.information {
  &__wrap {
    position: sticky;
    top: calc(var(--size-header-height) + 32px);
  }
  &__body {
    margin: 12px 0 0;
    display: grid;
    gap: 8px 0;
  }
  .field {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    min-height: 34px;
    > h3 {
      margin: 0;
      font-size: 13px;
      font-weight: 600;
      line-height: 1.15;
      user-select: none;
      color: var(--color-weak);
    }
    > p {
      margin: 0;
      span {
        display: block;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.15;
      }
    }
  }
}
.new-password {
  display: grid;
  grid-gap: 4px 0;
}

.preference {
  &__header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    label {
      display: flex;
      align-items: center;
      gap: 0 8px;
      user-select: none;
      span {
        display: block;
        font-size: 11px;
        color: var(--color-weak);
      }
    }
  }
  &__body {
    margin: 12px 0 0;
    &:deep(.json-editor) {
      --font-base: var(--font-base);
    }
  }
}

.section-title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.15;
  user-select: none;
}

.submit {
  margin: 54px 0 0;
  position: sticky;
  bottom: 42px;
  grid-column: 1 / 3;
}
