.form {
  margin: 30px 0 0;
}

.fields {
  margin: 0;
  padding: 0;
  border: none;
  display: grid;
  gap: 30px 0;
  > legend {
    font-size: 0;
  }
}

.field {
  > h3 {
    margin: 0;
    line-height: 1.05;
    font-size: 14px;
    font-weight: 600;
    user-select: none;
  }
  > div {
    margin: 8px 0 0;
  }
}

.passwords {
  display: flex;
  gap: 0 12px;
  > input {
    width: 200px;
  }
}

.admin {
  display: flex;
  align-items: center;
  gap: 0 8px;
  > p {
    order: 2;
    margin: 0;
    line-height: 1.05;
    font-size: 12px;
  }
  > .switch {
    order: 1;
  }
}

.bottom-nav {
  margin: 42px 0 0;
}
